.about {

    padding: 6rem 2rem 2rem 2rem;


}

.profile {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.profile img {
    object-fit: cover;

    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);


}

.social-media {
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 16px;
}

.social-icon {
    padding-top: 15px;
    color: #387ca386;
    font-size: 1.2rem;
}

.social-icon:hover {
    color: #387CA3;
    cursor: pointer;
}

.text-container {
    color: rgba(0, 0, 0, .664);
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    color: #F3D8C7;

}

@media (min-width: 480px) {
    .about {
        display: flex;
        padding-top: 6rem;
    }

    #about-scroll {
        padding-right: 50px;
        border-right: 3px solid #efe5dc;
        max-height: 50%;
    }

    .text-container {
        padding-left: 50px;
    }
}