.contact-wrapper {
    text-align: right;
    padding-right: 1rem;
    margin-bottom: 18%;

}

.contact-section {
    display: inline-block;
    height: 50px;
    position: relative;
}

.contact-wrapper h2 {
    font-size: 2.5rem;

}

.contact-detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.border-c {
    border-bottom: 3px solid rgba(0, 0, 0, .082);
    width: 100%;
    position: absolute;
    height: 1px;
    background: var(--main-text-color);
    left: 0;
    bottom: -25px;
    max-width: 700px;
    opacity: .8;
    animation: drawTop 2s ease-in;
}

.contact {

    text-decoration: none;
    color: var(--main-text-color);
    font-size: 1.5rem;
    transition: all 0.5s ease;

}

@keyframes drawTop {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.arrow {
    display: inline-block;
    opacity: 0;
    transition: .5s;

}

.contact:hover {
    margin-left: 5px;


    .arrow {
        opacity: 1;


    }

}


@media (min-width: 768px) {

    .contact-wrapper h2 {
        font-size: 4rem;

    }

    .contact-wrapper {
        margin-bottom: 10%;
    }


}