.contact-wrapper {
    text-align: left;
    height: 10%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.border {
    border-bottom: 3px solid rgba(0, 0, 0, .082);
    max-width: 50%;

}

.contact {
    position: relative;
    text-decoration: none;
    color: #387ca386;
}

.arrow {
    display: inline-block;
    opacity: 0;

}

.contact:hover {
    margin-left: 5px;
    transition: all 0.5s ease;

    .arrow {
        opacity: 1;
        transition: .5s;

    }

}