.active {
    font-weight: 500;

}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: var(--navbar-color);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 0.5rem 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


nav .title {
    padding-left: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-text-color-light);
}

nav ul {
    display: flex;
    position: relative;
    transition: all 0.4s ease;
    font-size: 1.2rem;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--main-text-color-light);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.resume {
    color: var(--main-text-color-light);
    border: none;
    display: inline-block;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.underline {
    background-color: gold;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    transition: width 0.3s ease-in-out;
    transform-origin: bottom right;
}

nav ul li:hover .underline {
    width: 100%;
    transform-origin: bottom left;
}


nav .menu {
    display: none;
    position: absolute;
    top: 1.55rem;
    right: 1.4rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}


nav .menu span {
    height: 0.3rem;
    width: 2.3rem;
    background-color: var(--main-text-color-light);
    border-radius: 0.2rem;
    transition: all ease-in-out 0.4s;
    position: relative;
    top: 0;
}

.line-2 {
    width: 2rem;
}

.title img {

    height: 5rem;
}

.switcher {
    display: block;
    padding: 0.4rem;
    margin: 0 0.5rem;
    border: 1px solid var(--main-text-color-light);
    border-radius: 0.5rem;
    align-self: center;
}

.switcher button {
    border: none;
    font-size: 0.8rem;
    padding: 0.5rem;
    color: var(--main-text-color-light);
    cursor: pointer;
    border: 1px solid transparent;

}

.switcher button:hover {
    border: 1px solid var(--main-text-color-light);
    border-radius: 0.3rem;

}

@media (max-width: 870px) {

    nav .menu {
        display: flex;
        top: 1.8rem;

    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;


    }

    nav ul {

        flex-direction: column;
        width: 100%;
        height: 0px;
        display: flex;
        opacity: 0;
        align-items: center;
        font-size: 1.2rem;
        gap: 2.5rem;
        transition: all ease-in-out 0.4s;
        overflow: hidden;
    }


    nav ul li {
        width: fit-content;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    .open {
        display: flex;
        height: 100vh;
        opacity: 1;
        font-size: 1.5rem;
        align-items: center;

        .line-2 {
            opacity: 0;
            width: 0;
        }

        .line-1 {
            transform: rotate(45deg);
            top: 12px;
        }

        .line-3 {
            transform: rotate(-45deg);
            top: -15px;
        }

    }
}