* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);

}

.dark-mode {
  --background-color: #393E46;
  --main-text-color: #D0B8AC;
  --main-text-color-light: #F3D8C7;
  --navbar-color: #393E46;
}

.light-mode {
  /* background: radial-gradient(circle, rgba(170, 99, 140, 1) 2%, rgba(254, 248, 248, 1) 19%) no-repeat fixed center; */

  background: rgb(209, 167, 164);
  background: linear-gradient(301deg, rgba(209, 167, 164, 0.6082808123249299) 0%, rgba(57, 203, 212, 0) 51%, rgba(167, 132, 136, 1) 100%);
  --navbar-color: rgba(167, 132, 136, 1);
  /* --background-color: #F3D8C7; */
  --main-text-color: #393E46;
  --main-text-color-light: #393E46;
}

.App {
  color: var(--main-text-color-light);
  width: 100%;
  font-family: 'Dancing Script', cursive;
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
}

section {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.sticky-right {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 0;
  opacity: 0.6;
  transition: .4s;
}

.sticky-right a {
  text-decoration: none;
}

.sticky-right:hover {
  transform: translateY(-5px);
  opacity: 1;
}

.sticky-right::after {
  content: "";
  background-color: var(--main-text-color-light);
  width: 1px;
  height: 120px;
  display: inline-block;
  margin: 0 auto;
}

.sticky-right a {
  writing-mode: vertical-rl;
  margin-bottom: 1rem;
  color: var(--main-text-color-light);
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: 0.5s ease;
}

.footer {
  margin-top: 3rem;
  padding: 2rem 0;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;

}

.container i {
  color: #387ca386;
  font-size: 1.2rem;

}

.container i:hover {
  color: #387CA3;
  cursor: pointer;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.heart {
  display: inline-block;
  animation: heartbeat 1.5s infinite;
  transform-origin: center;
}

section#skills {
  padding-top: 7rem;
}

section#portfolio,
section#contact {
  padding-top: 3rem;
}

section#about {
  padding-top: 7rem;
}

/*Transition*/
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);

}

@media (min-width: 480px) {
  .container {
    font-size: 1.5rem;
  }
}

@media (min-width: 767px) {

  section#portfolio,
  section#contact {
    padding-top: 5rem;
  }

  section#about {
    padding-top: 8rem;
  }
}

@media (min-width: 1023px) {

  section#portfolio,
  section#contact {
    padding-top: 8rem;
  }

  section#about {
    padding-top: 9rem;
  }
}

@media (min-width: 1200px) {
  .sticky-right {
    display: flex;
  }

  section#about {
    padding-top: 5rem;
  }
}