* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #393E46;

}

:root {}

.App {
  color: #F3D8C7;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  max-width: 1080px;
  font-weight: 300;
  margin: 0 auto;
}

.footer {
  margin-top: 3rem;
  padding: 2rem 0;
  background-color: #393E46;
  color: #D0B8AC;

}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;

}

.container i {
  color: #387ca386;
  font-size: 1.2rem;

}

.container i:hover {
  color: #387CA3;
  cursor: pointer;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.heart {
  display: inline-block;
  animation: heartbeat 1.5s infinite;
  transform-origin: center;
}


/*Transition*/
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  /* Optional: Add a slight upward translation effect */
  transition: opacity 0.5s, transform 0.5s;
  padding-top: 3rem;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);

}




@media (min-width: 480px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}