* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {

  background-color: #fefefe;
  height: 100vh;
  width: 100%;
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}